<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot default Console appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Sentry appender if not on localdev -->
    <springProfile name="!localdev">
        <appender name="SENTRY" class="io.sentry.logback.SentryAppender" />
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="!localdev">
            <appender-ref ref="SENTRY"/>
        </springProfile>
    </root>

</configuration>