<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email when appointment is created and needs to be confirmed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="#{appointment.heading(${appointment.appointmentId})}">Appointment 123</h1>
<p th:text="#{greeting(${appointment.customer.firstName}, ${appointment.customer.lastName})}">
    Hello, User!
</p>
<p th:text="#{appointment.verification.description}">
    Please click on the Link below to confirm your registration.
    Bitte den Termin durch einen Klick auf folgenden Link bestätigen:
</p>
<a th:text="${tokenurl}" th:href="@{${tokenurl}}">
    http://localhost/api/appointment/confirm/123-foo-token
</a>
<p th:text="#{appointment.verification.cancellation}">
    Please click on the Link below to confirm your registration.
    WICHTIG: Sollten Sie Ihren Termin nicht durch einen Klick auf den Link oben bestätigen, wird dieser nach 24 Stunden
    automatisch storniert!
</p>
<p th:text="#{appointment.data.heading}">
    Zur Überprüfung hier ihre Termindaten
</p>
<p th:text="${#temporals.format(appointment.date, 'dd.MM.yyyy / HH:mm')}">
    Datum: 01.01.2020 / 10:00 Uhr
</p>
<p th:text="#{tandem(${appointment.tandem})}">
    1 x Tandem
</p>
<p th:text="#{picorvid(${appointment.picOrVid})}">
    1 x Foto oder Video
</p>
<p th:text="#{picandvid(${appointment.picAndVid})}">
    1 x Foto und Video
</p>
<p th:text="#{handcam(${appointment.handcam})}">
    1 x Handcam
</p>
<p th:text="#{yourdata}">
    Ihre Daten:
</p>
<p th:text="#{firstlast(${appointment.customer.firstName}, ${appointment.customer.lastName})}">
    Max Mustermann
</p>
<p th:text="#{email(${appointment.customer.email})}">
    E-Mail: max.mustermann@example.com
</p>
<p th:text="#{phone(${appointment.customer.tel})}">
    Telefon: 0123456789
</p>
<p th:text="#{zipcity(${appointment.customer.zip}, ${appointment.customer.city})}">
    PLZ / Wohnort: 12345 Musterstadt
</p>
<ul th:each="jumper: ${appointment.customer.jumpers}">
    <li th:text="#{appointment.customer.jumper(
        ${jumper.firstName}, ${jumper.lastName},
        ${#temporals.format(jumper.dateOfBirth, 'dd.MM.yyyy')}, ${jumper.weight})}"></li>
</ul>
<p th:text="#{goodbye}">
    Ihr Fallschirm-Sport-Zentrum Haßfurt e.V.
</p>
</body>
</html>