<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email when a user signs up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{greeting(${username})}">
    Hello, User!
</p>
<p th:text="#{user.passwordreset}">
    Please click on the Link below to reset your password.
</p>
<a th:text="${tokenurl}" th:href="@{${tokenurl}}">
    http://localhost/api/user/resetpassword/123-foo-token
</a>
<p th:text="#{goodbye}">
    Regards
</p>
</body>
</html>